@media only screen and (max-width: 768px) {
  .img-set-1, .img-set-2 {
     width: 50%;
     height: 50%;
   }
 }
 
 :root {
   --dark-blue: hsl(218, 44%, 22%);
   --gray-blue: hsl(220, 15%, 55%);
   --light-gray: hsl(212, 45%, 89%);
   --dark-red: hsl(0, 49%, 46%);
 }
 
 * {
   box-sizing: border-box;
   margin: 0;
 }
 
 html, body {
   font-family: outfit, sans-serif;
   width: 100%;
   overflow: auto;
 }
 
 ul {
   display: flex;
   justify-content: space-between;
   max-width: 400px;
 }
 
 .header-buttons-text {
   color: white;
   text-decoration: none;
   transition: transform 0.3s ease;
   padding-left: 15px;
   padding-right: 15px;
 }
 
 
 #navbar {
   background-color: var(--dark-blue);
   position: absolute;
   height: 60px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-bottom: 4px solid var(--dark-red);
   z-index: 2;
   animation: bordermove 7s infinite;
 }
 
 @keyframes bordermove {
   50% {border-bottom-color: black}
 }
  
 .header-buttons {
   list-style-type: none;
   font-size: 1.5rem;
   height: 30px;
   width: 400px;
   transition: transform 0.3s ease;
 }
 
 .header-buttons:hover {
   position: relative;
   transform: translateY(5px)
 }
 
 
 #welcome-section {
   background: linear-gradient(var(--dark-blue),var(--light-gray));
   height: 100vh;
   width: 100%;
   padding-top: 24.5%;
   text-align: center;
 }
 
 #my-name {
   font-size: 3rem;
   padding-bottom: 20px;
 }
 
 #welcome-p {
   font-style: italic;
   padding-top: 5px;
 }
 
 #projects {
   background-color: var(--dark-red);
   width: 100%;
   border-top: 2px solid black;
 }
 
 #project-gallery {
   padding-top: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 8rem;
 }
 
 #project-gallery img {
   object-fit: cover;
   box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.8);
 }
 
 
 .projects-text {
   position: relative;
   width: 70%;
   margin: auto;
   text-align: center;
   color: white;
   padding-top: 3rem;
   padding-bottom: 3rem;
   font-size: 2rem;
   text-shadow: 0 4px 2px black;
   z-index: 1;
 }
 
 .img-set-1 {
   width: 45rem;
   height: 45rem;
 }
 
 .img-set-2 {
   width: 55rem;
   height: 45rem;
 }
 
 
 figcaption {
   width: 100%;
   margin-top: 1rem;
   color: white;
   text-align: center;
 }
 
 #projects-2 {
   background-color: var(--dark-red);
   border-top: 2px solid white;
   padding-bottom: 30px;
 }
 
 #projects-text-2 {
   position: relative;
   text-align: center;
   color: white;
   width: 60%;
   margin: auto;
   font-size: 1.2rem;
   text-shadow: 0 4px 2px black;
   padding-top: 2rem;
 }
 
 #profile-link {
   color: var(--dark-blue);
   text-shadow: none;
   text-decoration: none;
 }
 
 #profile-link:hover {
   background-color: white;
 }
 
 footer {
   display: flex;
   justify-content: space-between;
   background-color: var(--dark-blue);
   color: white;
 }